* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 800px;
}

.rectangle1 {
  width: 100%;
  height: 200px;
  background-image: url(img/box1.jpg);
  background-size: cover;
  background-position: center;
}

.rectangle2 {
  width: 100%;
  height: 200px;
  background-image: url(img/box2.jpg);
  background-size: cover;
  background-position: center;
}

.rectangle3 {
  width: 100%;
  height: 200px;
  background-image: url(img/box3.jpg);
  background-size: cover;
  background-position: center;
}

.rectangle4 {
  width: 100%;
  height: 200px;
  background-image: url(img/box4.jpg);
  background-size: cover;
  background-position: center;
}
